<footer class="footer_home">

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer__logo">
          <a href="/"><img alt="" class="img-fluid" src="assets/images/11xplay/logo.png" /></a>
          <hr />
          <p>© 2024 All rights reserved. <a href="">11xplay most trusted and secure exchange site in the world.</a></p>
          <img src="assets/images/socialicon.png" class="img-fluid mt-2" style="width: 150px;" />
        </div>
      </div>
      <div class="col-lg-4">
        <h2>Payment Partners</h2>
        <img src="assets/images/payment.png" class="img-fluid" style="width: 300px;" /><img
          src="assets/images/payment2.png" class="img-fluid" style="width: 300px;" />
      </div>
      <div class="col-lg-2">
        <h2>Games</h2>
        <div class="footer__nav">
          <ul>
            <li routerlinkactive="active"><a routerLink="/"
                routerLinkActive="router-link-active">Cricket</a></li>
            <li routerlinkactive="active"><a routerLink="/"
                routerLinkActive="router-link-active">Football</a></li>
            <li routerlinkactive="active"><a routerLink="/"
                routerLinkActive="router-link-active">Tennis</a></li>
            <li routerlinkactive="active"><a routerLink="/" routerLinkActive="router-link-active">Int
                Casino</a></li>
            <li routerlinkactive="active"><a routerLink="/" routerLinkActive="router-link-active">Horse
                Racing</a></li>
            <li routerlinkactive="active"><a routerLink="/" routerLinkActive="router-link-active">Greyhound
                Racing</a></li>
            <!---->
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <h2>Security &amp; Game Integrity</h2>
        <div class="securitylogo">
          <img src="assets/images/18.png" class="img-fluid" /><img src="assets/images/responsible-play.png"
            class="img-fluid" />
          <p class="mt-3">Powered by <img src="assets/images/betfair.png" class="img-fluid d-block"
              style="height: 20px;" /></p>
        </div>
      </div>
      <div class="col-lg-12">
        <p class="bottom-links">
          <a routerLink="/" routerLinkActive="router-link-active">Privacy Policy</a><a routerLink="/"
            routerLinkActive="router-link-active">Disconnection Policy</a>
          <a routerLink="/" routerLinkActive="router-link-active">Responsible Gambling</a><a routerLink="/"
            routerLinkActive="router-link-active">Rules &amp; Regulations</a>
          <a routerLink="/" routerLinkActive="router-link-active">Exclusion Policy</a><a routerLink="/"
            routerLinkActive="router-link-active">Restricted Territories</a>
          <a routerLink="/" routerLinkActive="router-link-active">Terms And Conditions</a>
        </p>
      </div>
    </div>
  </div>

</footer>
